<% layout('layouts/boilerplate') %>
<h1>Edit Campground</h1>
<form
  action="/campgrounds/<%= campground._id %>?_method=PATCH"
  method="POST"
  novalidated
  class="validated-form"
  novalidate
  class="validated-form"
>
  <div class="mb-3">
    <label for="title" class="form-label">Campground name</label>
    <input
      type="text"
      name="campground[title]"
      id="title"
      placeholder="Campground Name"
      class="form-control"
      required
      value="<%= campground.title %>"
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      type="text"
      name="campground[location]"
      id="location"
      placeholder="City Sate"
      class="form-control"
      required
      value="<%= campground.location %>"
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input
      type="text"
      name="campground[image]"
      id="image"
      placeholder="image URL"
      class="form-control"
      required
      value="<%= campground.image %>"
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Campground price</label>
    <div class="input-group">
      <span class="input-group-text" id="price-label">$</span>
      <input
        type="text"
        class="form-control"
        placeholder="0.0"
        aria-label="price"
        aria-describedby="price-label"
        id="price"
        name="campground[price]"
        required
        value="<%= campground.price %>"
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      name="campground[description]"
      id="image"
      placeholder="Description"
      class="form-control"
      required
    >
<%= campground.description %></textarea
    >
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="mb-3">
    <button class="btn btn-success">Add Campground</button>
  </div>
  <a href="/campgrounds/<%= campground._id %>">Back To Campground</a>
</form>
